$color1: rgb(255, 183, 0);
.container-Hobbies {
    header {
            padding-top: 10px;
            border-top: 5px solid $color1;
            border-bottom: 1px solid $color1;
            background: #222;
            height: 100px;
            color: aliceblue;
            text-align: center;
    
            display: flex;
            justify-content: center;
            align-items: center;
            
    }
    .text-Hobbies {
        padding: 20px 5vw 30px 5vw;
    } 
    section {
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding: 50px;

        div {
            padding: 50px 30px 0px 30px;
        }
        hr {
            
            margin: 0px 5% 30px 5%;
        }
        h2 {
            text-align: center;
            padding-bottom: 15px;
        }
        p {
            padding-bottom: 15px;
        }

        &.derecha {
            flex-direction: row-reverse;
        }

        &.izquierda {
            flex-direction: row;
        }

        img {
            width: 50%;
            max-width: 600px;
        }
        

    }
    @media (max-width: 750px) { 
        section {
            div {
                padding: 0;
            }
            img {
                width: 80vw !important;
            }
            &.derecha {
                flex-direction: column;
            }
    
            &.izquierda {
                flex-direction: column;
            }

        }

    }
}