// Estilos Logo DEV
.stop1 {
    stop-color: #125191;
}

.stop2 {
    stop-color: rgb(42, 42, 42);
}

.stop3 {
    stop-color: #25b2e2
}

.stop4 {
    stop-color: #377ebe
}

.grey-dev {
    fill: rgb(85, 85, 85)
}

// Estilos Logo UIX

.stop1-uix {
    stop-color: #f6850a
}

.stop2-uix {
    stop-color: #7d210a
}

.stop3-uix {
    stop-color: #377ebe
}

.stop4-uix {
    stop-color: #0f0e5c
}

.stop5-uix {
    stop-color: #ba1dcb
}

.stop6-uix {
    stop-color: #5b054e
}

.stop7-uix {
    stop-color: #f4ed31
}

.stop8-uix {
    stop-color: #68a83e
}