$color1:rgb(255, 183, 0);

.conteiner-CurrentSituation {
    header {
        padding-top: 10px;
        border-top: 5px solid $color1;
        border-bottom: 1px solid $color1;
        background: #222;
        height: 100px;
        color: aliceblue;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    article {
        background: rgb(246, 246, 246);
        background-image: url('/images/fondo-situacion-actual.png');
        background-size: cover;

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        :nth-child(even) {
            flex-direction: row-reverse;
        }
        :nth-child(odd) {
            flex-direction: row;
        }


    }
}




.section-situations {
    display: flex;
    background: black;
    filter: blur(1px);
    overflow: hidden;

    

    .situation1 {
        background-image: url('/images/fondoUX3.png');
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: end;
        position: relative;
        
            section {
                position: absolute;
                top: 0;
                left: 30%;
        
            }
    }

    .situation2 {
        background-image: url('/images/fondoDEV3.png');
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        position: relative;
        
            section {
                position: absolute;
                top: 0;
                left: 50%;
            }
    }

    .situation3 {
        background-image: url('/images/fondoPER3.png');
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: end;
    }

    div {
        overflow: hidden;
        width: 0px;
        height: 400px;
        flex-grow: 1; //Ocupa el espacio que puedas, en la caja flexible
        object-fit: cover; // Cubra todo el espacio
        opacity: 0.3;
        transition: 1s ease;

        img {
            height: 300px;
            transition: 1s ease
        }

        &:hover {
            cursor: crosshair;
            width: 70%;
            opacity: 1;
            filter: blur(0px);

            img {
                height: 350px;
            }
        }
    }
}