$color1:rgb(255, 183, 0);

.conteiner-CurrentSituation {
    header {
        padding-top: 10px;
        border-top: 5px solid $color1;
        border-bottom: 1px solid $color1;
        background: #222;
        height: 100px;
        color: aliceblue;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    article {
        background: rgb(246, 246, 246);
        background-image: url('/images/fondo-situacion-actual.png');
        background-size: cover;


        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            
           img {
                    width: 40vw !important;
            }
            p {
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
                
            }
            div {
                padding: 50px;
            }

            &:nth-child(1) {
                flex-direction: row;
                
            }
            &:nth-child(2) {
                flex-direction: row-reverse;
                img {
                    width: 50vw !important;
                }
            }
            &:nth-child(3) {
                flex-direction: row;
            }
        }

        @media (max-width: 750px) { 
            section {
                div {
                    padding: 0px;
                }
                img {
                    width: 80vw !important;
                }
                &:nth-child(1) {
                    flex-direction: column;
                }
                &:nth-child(2) {
                    flex-direction: column;
                    img {
                        width: 80vw !important;
                    }
                }
                &:nth-child(3) {
                    flex-direction: column;
                }
            }
    
        }
    }
        
}
