.container-Footer {
    color: white;
    background: #222222;
    overflow: hidden;

    background-image: url('/images/fondo-footer.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-top: 1px solid rgba(255, 255, 255, 0.789);

    box-shadow: -1px -30px 21px -15px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -1px -30px 21px -15px rgba(0, 0, 0, 0.329);
    -moz-box-shadow: -1px -30px 21px -15px rgba(0, 0, 0, 0.28);

 
    .separador {

        width: 200px;
        height: 3px;
        border-radius: 50%;
        background: rgb(219, 153, 0);
        box-shadow: 0px 0px 22px 1px rgba(255, 255, 255, 0.384);

        margin-top: 60px;
        margin-bottom: 20px;
    }

    .section-footer-1 {
        text-align: center;


        .section-redes-sociales {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            a {
                cursor: pointer;
                width: 30px;

                svg {
                    border-radius: 5px;
                    overflow: hidden;
                    width: 35px;
                    fill: rgb(255, 183, 0);
                    background: rgba(231, 11, 11, 0.008);
                }

                :hover {
                    fill: rgb(219, 153, 0);
                    background: rgba(255, 211, 116, 0.171);
                }


            }

        }
    }

    header {
        background: rgb(255, 170, 0);
        height: 10px;
    }

    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;

        @media (max-width:1000px) {
        }

        article {
           margin: 40px 30px 40px 30px ;

        }


        b {
            color: rgb(255, 183, 0);
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
        }

     

        .section-contact {
            h1 {
                font-size: 25pt;
                margin-bottom: 40px;
            }

            svg {
                padding-right: 10px;
                width: 20px;
                fill: rgb(255, 183, 0);
            }

            a {
                text-decoration: none;
                color: white;
                margin-left: 30px;
                &:hover {
                    color: #e8472aab;
                }
            }
        }
    }

    footer {
        text-align: center;
        font-size: 10pt;
        color: #2e2d2d;
        background: rgb(209, 209, 209);
        padding: 3px;
    }
}


$anchoCV:220px;
$altoCV:368px;
.contenedor-cv-Contacto {
    opacity: 0.9;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    width: $anchoCV;
    border: 3px solid rgb(42, 40, 40);

    embed {
        height: 300px;
    }

}

.bloqueador-CV {
    position: absolute;
    width: $anchoCV;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease all;

    span {
        padding: 15px;
        width: 120px;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.612);
        font-family: "Barlow", sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.5rem;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        transition: 0.5s ease all;
    }

    &:hover {
        transition: 1s ease all;
        background: rgba(0, 0, 0, 0.482);

        span {
            transition: 0.5s ease all;
            transform: scale(1.2);
            background-color: #e8472aab;
        }
    }

    &:active {
        span {
            background-color: #e8472a;
        }
    }
}

.botonDescargaCV-Contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #e8472aab;
    transition: all 0.4s ease;
    text-decoration: none;

    img {
        width: 40px;
        margin-right: 15px;
    }

    &:hover {
        background-color: #e8452a;
    }

    &:active {
        background-color: #b41b00;
    }

}